 Create a DataFrame with name and city columns.

In [2]:
import pandas as pd
data = {
    'name' : ["ram","hari"],
    'city':["butwal","ktm"]

}
df=pd.DataFrame(data)
print(df)

   name    city
0   ram  butwal
1  hari     ktm

Medium: Add a third column called "Age" and fill it with numbers.

In [3]:
import pandas as pd
data = {
    'name' : ["ram","hari"],
    'city':["butwal","ktm"]

}
df=pd.DataFrame(data)
df["age"]=[30,20]
print(df)

   name    city  age
0   ram  butwal   30
1  hari     ktm   20

In [ ]:
Hard: Load a CSV file and convert it into a DataFrame.