In [4]:

import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Math": [85, 78, 92, 88, 76],
    "Science": [91, 74, 89, 84, 95],
    "English": [79, 85, 87, 90, 80],
    "Grade": ["A", "B", "A", "A", "B"]
}

df = pd.DataFrame(data)
# df.groupby("Grade")["Math"].mean()
df.pivot_table(values="Math", index="Name")

         Math
Name
Alice    85.0
Bob      78.0
Charlie  92.0
David    88.0
Eva      76.0